{% extends('base.html.twig') %}
{% block band_block %} nav-link-active {% endblock %}
{% block body %}
    <div class="jumbotron paral paralsec">

    </div>

    <div class="jumbotron container content center announce_body">
            <h1 class="title display-6">la banda</h1>
        <p class="bandlead">Krenfen es un grupo madrileño de Metal fundado en 2010 y formado actualmente por <strong>Pablo (Voz), Kike (Guitarra y voz), Dan (Guitarra), Aitor (Bajo) e Iba (Batería)</strong>. El nombre de la banda se debe a la pronunciación de palabra alemana <strong>Krämpfen, "Convulsiones"</strong> en castellano.</p>

        <p class="bandlead">En septiembre de 2014, Krenfen lanza “Resurgir”, disco que les llevó por todo el territorio nacional, compartiendo cartel con bandas como Vendetta Fucking Metal, Cuernos de Chivo, Brothers Till We Die o Vita Imana entre otras.
        </p>

        <p class="bandlead">Tras un cambio de formación, Krenfen se meten de lleno en un proceso compositivo y de producción musical que da lugar a “Ignis”, álbum que salió a la luz a finales de Abril de 2019, del cual ya se han publicado dos singles, “Ignis” como adelanto de lo que sería el inicio de una nueva etapa e “Ícaro”, single con el que se sitúan como una clara apuesta del metal nacional.
        </p>
        <p class="bandlead"><a class="px-2 btn btn-primary btn-dark" href="/pdf/BIO.pdf" target="_blank"><i class="fas fa-file-pdf"></i> Descargar Biografía</a></p>



    </div>

{% endblock %}