{% extends('base.html.twig') %}
{% block band_block %} nav-link-active {% endblock %}
{% block body %}
    <div class="jumbotron paral paralsec">

    </div>

    <div class="container content center">

            <h1 class="title display-6">la banda</h1>
        <p class="bandlead">Krenfen es un grupo madrileño de Metal fundado en 2010 y formado actualmente por <strong>Pablo (Voz), Kike (Guitarra y voz), Dan (Guitarra), Aitor (Bajo) e Iba (Batería)</strong>. El nombre de la banda se debe a la pronunciación de palabra alemana <strong>Krämpfen, "Convulsiones"</strong> en castellano.</p>

        <p class="bandlead">El primer disco -autoproducido y lanzado en el verano del 2012- se tituló <strong>Convulsiones</strong>. El disco debut de la banda fue editado como digipack de CD (10 temas) + DVD (making-of de la grabación, backstage pre-concierto y videoclip del tema Vendetta).</p>
        <p class="bandlead">En septiembre de 2014, Krenfen lanza su segundo disco, titulado <strong>Resurgir</strong>, grabado y mezclado en <strong>Nightmare Studios por Javi Díez</strong>, compositor, productor musical y teclista del grupo Mago de Oz, y masterizado en <strong>Estudios Cube por Alberto Seara</strong>.</p>

        <p class="bandlead">La gira Resurgir llevó a la banda a salas y festivales de ciudades como <strong>Madrid, Gijón y Córdoba</strong> con bandas como <strong>Vendetta Fucking Metal, Brothers Till We Die o Vita Imana</strong>.</p>
        <p class="bandlead">La banda lanzó en <strong>junio de 2018</strong> el vídeo musical de <strong>Ignis</strong>, tema perteneciente y que da nombre a su tercer disco de estudio.</p>




    </div>

{% endblock %}