{% extends('base.html.twig') %}
{% block contact_block %} nav-link-active {% endblock %}
{% block body %}
    <div class="jumbotron paral paralcontact">

    </div>

    <div class="jumbotron container content center announce_body">

            <h1 class="title display-6">contratación y contacto</h1>
        <p class="bandlead"><a class="px-2 btn btn-primary btn-dark" href="mailto:info@thelabelonemusic.com" target="_blank"><i class="fas fa-envelope"></i> info@thelabelonemusic.com</a></p>
        <p class="bandlead"><a class="px-2 btn btn-primary btn-dark" href="tel:605386235" target="_blank"><i class="fas fa-phone"></i> 605386235</a></p>
        <p class="bandlead"><a class="px-2 btn btn-primary btn-dark" href="/pdf/EPK.pdf" target="_blank"><i class="fas fa-file-pdf"></i> Descargar Electronic press Kit</a></p>



    </div>

{% endblock %}