{% extends('base.html.twig') %}
{% block body %}
<div class="shadow-lg row jumbo">
    <div class="col-sm band-photo">

    </div>
    <div class="col-sm">
        <div class="jumbotron transparent center section">
            <h2>¡reserva ya tu copia de</h2><h1 class="display-4">IGNIS!</h1>
            <p class="lead">pronto a la venta el nuevo de disco de KRPNFPN</p>
            <hr class="my-4">
            <p>no te quedes sin una copia haciendo tu pre-reserva.<br>¡el pack contiene una camiseta exclusiva!</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">¡reserva ahora!</a>
        </div>
    </div>
</div>

<div class="container content">

    <div class="row jumbotron transparent">
        <div class="col">
            <div class="row">
                <div class="col-sm">
                    <div class="card center shadow-lg" style="width: 20rem;">
                        <div class="card-img-top-container">
                            <img class="card-img-top" src="img/banner4.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                        <div class="card-footer text-muted">
                            2 days ago
                        </div>
                    </div>

                </div>
                <div class="col-sm">
                    <div class="card center shadow-lg" style="width: 20rem;">
                        <div class="card-img-top-container">
                            <img class="card-img-top" src="img/banner5.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">KRPNFPN firma con LO</h5>
                            <p class="card-text">Nos complace enormemente informaros de que la banda ha fichado por The Label One Music (LO).</p>
                            <a href="#" class="btn btn-primary">Saber más</a>
                        </div>
                        <div class="card-footer text-muted">
                            2 days ago
                        </div>
                    </div>


                </div>
                <div class="col-sm">
                    <div class="card center shadow-lg" style="width: 20rem;">
                        <div class="card-img-top-container">
                            <img class="card-img-top" src="img/banner6.jpg" alt="Card image cap">
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                        <div class="card-footer text-muted">
                            2 days ago
                        </div>
                    </div>


                </div>



            </div>

            <div class="row">
                <div class="col">
                    <div class="tv">
                        <div class="screen" id="tv"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

