{% extends('base.html.twig') %}
{% block body %}
<div class="shadow-lg container-fluid jumbo">
    <div class="row">
        <div class="jumbotron col-sm-12 col-md-6 band-photo center">
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="jumbotron transparent center section">
                <p><img class="portada" src="/img/pack.png"/></p>
                <hr>
                <p>no te quedes sin una copia del nuevo disco de KRPNFPN.<br>¡el pack contiene una camiseta exclusiva!</p>
                <a class="btn btn-primary btn-lg btn-dark" href="{{ path('store') }}" role="button">¡reserva ya IGNIS!</a>
            </div>
        </div>
    </div>
</div>

    <div class="container content">
    <div id="social-stream"></div>
    </div>


    <div class="container content">
    <div class="row jumbotron transparent">
        <div class="col">

            <div class="row">

            </div>

            <div class="row">
                <div class="col">
                    <div class="tv">
                        <div class="screen" id="tv"></div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function($){
            $('#social-stream').dcSocialStream({
                feeds: {
                    twitter: {
                        id: 'krenfen',
                        thumb: true
                    },
                    facebook: {
                        id: '285508918233161'
                    },
                    instagram: {
                        id: '!3296591962',
                        accessToken: '3296591962.0f3199b.41661073f7a74e3d95d4992593185c56',
                        clientId: '0f3199b4737b4bbdb91e1ba7297713a8',
                        redirectUrl: 'http://test.krenfen.com'
                    },
                    youtube: {
                        id: 'UCPuoWNy1E8XZvl92qV9QWZQ'
                    },

                },
                rotate: {
                    delay: 0
                },
                style: {
                    layout: 'modern',
                    colour: 'dark'
                },
                twitterId: 'krenfen',
                control: false,
                filter: false,
                wall: true,
                cache: false,
                max: 'limit',
                limit: 3,
                iconPath: '/social-wall/images/dcsns-dark/',
                imagePath: '/social-wall/images/dcsns-dark/'
            });
        });
    </script>

{% endblock %}

