{% extends('base.html.twig') %}
{% block body %}
<div class="shadow-lg container-fluid jumbo">
    <div class="row">
    <div class="jumbotron col-sm-12 col-md-6 band-photo center">
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="jumbotron transparent center section">
            <p><img class="portada" src="/img/pack.svg"/></p>
            <a class="btn btn-primary btn-lg btn-dark" href="#" role="button">¡reserva ya IGNIS!</a>
            <hr>
            <p>no te quedes sin una copia haciendo tu pre-reserva.<br>¡el pack contiene una camiseta exclusiva!</p>

        </div>
    </div>
    </div>
</div>

<div class="container content">

    <div class="row jumbotron transparent">
        <div class="col">
            <div class="row">
                {% for announce in announces %}
                    {{ include('/partials/_announce.html.twig', {'announce':announce}) }}
                {% endfor %}
            </div>

            <div class="row">
                <div class="col">
                    <div class="tv">
                        <div class="screen" id="tv"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script>
        $(function() {
            anime.timeline({loop: false})
                .add({
                    targets: '.portada',
                    scale: [14,1],
                    opacity: [0,1],
                    easing: "easeOutCirc",
                    duration: 1800,
                    delay: function(el, i) {
                        return 800 * i;
                    }
                });
        });
    </script>

{% endblock %}

