{% extends('base.html.twig') %}
{% block body %}
<div class="shadow-lg container-fluid jumbo">
    <div class="row">
        <div class="jumbotron col-sm-12 col-md-6 band-photo center">
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="jumbotron transparent center section">
                <p><img class="portada" src="/img/pack.png"/></p>
                <hr>
                <p>no te quedes sin una copia del nuevo disco de KRPNFPN.<br>¡el pack contiene una camiseta exclusiva!</p>
                <a class="btn btn-primary btn-lg btn-dark" href="{{ path('store') }}" role="button">¡reserva ya IGNIS!</a>
            </div>
        </div>
    </div>
</div>

<div class="container content">

    <div class="row jumbotron transparent">
        <div class="col">

            <div class="row">
                {% for announce in announces %}
                    {{ include('/partials/_announce.html.twig', {'announce':announce}) }}
                {% endfor %}
            </div>

            <div class="row">
                <div class="col">
                    <div class="tv">
                        <div class="screen" id="tv"></div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script>
        $(function() {

        });
    </script>

{% endblock %}

