{% extends('base.html.twig') %}
{% block body %}
<div class="shadow-lg row jumbo">
    <div class="col-sm band-photo">

    </div>
    <div class="col-sm">
        <div class="jumbotron transparent center section">
            <h2>¡reserva ya tu copia de</h2><h1 class="display-4">IGNIS!</h1>
            <p class="lead">pronto a la venta el nuevo de disco de KRPNFPN</p>
            <hr class="my-4">
            <p>no te quedes sin una copia haciendo tu pre-reserva.<br>¡el pack contiene una camiseta exclusiva!</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">¡reserva ahora!</a>
        </div>
    </div>
</div>

<div class="container content">

    <div class="row jumbotron transparent">
        <div class="col">
            <div class="row">
                {% for announce in announces %}
                    {{ include('/partials/_announce.html.twig', {'announce':announce}) }}
                {% endfor %}
            </div>

            <div class="row">
                <div class="col">
                    <div class="tv">
                        <div class="screen" id="tv"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

