{% extends('base.html.twig') %}
{% block media_block %} nav-link-active {% endblock %}
{% block body %}
    <div class="container content center jumbotron announce_body text-center">

        {{ include('partials/_nav_pills.html.twig', {
            'id': 'media',
            'path': 'mediatabs',
            'list' : {
                'fotos':'fas fa-camera',
                'audio':'fas fa-headphones',
                'video':'fas fa-video',
                'letras':'fas fa-align-justify',

            }
        }) }}
    </div>
{% endblock %}

{# 'fotos':'fas fa-camera',
                'fondos':'fas fa-image' #}