{% extends('base.html.twig') %}
{% block social_block %} nav-link-active {% endblock %}
{% block body %}

    <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v3.2&appId={{ appId }}&autoLogAppEvents=1';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    <div class="row">
        <div class="col-sm-2 col-md-4 center">
        </div>
        <div class="col-sm-8 col-md-4 center"  style="margin: 10px;">
            <h2 class="title display-8">facebook</h2>
            <div class="fb-page" data-href="https://www.facebook.com/Krenfen" data-tabs="timeline,events,messages" data-height="500" data-width="8000" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/Krenfen" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Krenfen">Krenfen</a></blockquote></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 center">
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 col-md-4 center">
        </div>
        <div class="col-sm-8 col-md-4 center" style="margin: 10px;">
            <h2 class="title display-8">twitter</h2>
            <a class="twitter-timeline" data-height="500" data-theme="light" data-link-color="#E81C4F" href="https://twitter.com/Krenfen?ref_src=twsrc%5Etfw">Tweets by Krenfen</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>

{% endblock %}