
<hr>
<a target="_blank" class="px-2 btn btn-primary btn-spotify" href="https://open.spotify.com/artist/3WvzynCwqWRSBzivc6gWG4"><i class="fab fa-spotify"></i> Spotify</a>
&nbsp;
<a target="_blank" class="px-2 btn btn-primary btn-itunes" href="https://itunes.apple.com/ca/artist/krenfen/920014104"><i class="fab fa-itunes"></i> iTunes</a>
<hr>
<a class="px-2 btn btn-primary btn-dark" href="/mp3/KRENFEN_IGNIS.zip"><i class="fas fa-compact-disc"></i> Descarga el CD completo<br>(80mb) (Mp3)</a>