<hr>
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="row">
            <a href="/img/gallery/band.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
                <img src="/img/gallery/band.jpg" class="img-fluid">
            </a>
            <a href="/img/gallery/banner.png" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
                <img src="/img/gallery/banner.png" class="img-fluid">
            </a>
            <a href="/img/gallery/grupo533.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
                <img src="/img/gallery/grupo533.jpg" class="img-fluid">
            </a>
        </div>
    </div>
</div>
