<hr>
{% set gallery = getGallery() %}
{% set i = 1 %}
{% set j = 1 %}
{% set countPerColumn = ((gallery|length)/3)|round %}

<div class="text-center center">

    <div class="d-flex flex-row  flex-wrap justify-content-center">

        {% for img in gallery %}

{% if j == 1 %}
        <div class="d-flex flex-column">
{% endif %}


            <a href="/img/gallery/{{ img }}" data-toggle="lightbox" data-gallery="example-gallery" class="gallery-photo">
                <img src="/img/gallery/{{ img }}" class="img-fluid">
            </a>



            {% if i is divisible by(countPerColumn) or i == gallery|length %}
                </div>
                {% set j = 0 %}
            {% endif %}

            {% set i = i + 1 %}
            {% set j = j + 1 %}

        {% endfor %}

    </div>
</div>

