html {

}

body {
    box-sizing: content-box;
    font-family: "Krenfen", "Ubuntu", sans-serif;
    background: black;
}

@font-face {
    font-family: 'Krenfen';
    src: url('../fonts/Krenfen-Regular.otf');
}

.jumbo {
    background: black;
    color: white;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: darkred;
    font-family: Krenfen,sans-serif;

}

.custom-nav-pill {
    color: #fff !important;
    font-family: Krenfen,sans-serif;

}

.center-pills {
    display: flex;
    justify-content: center;
}

.nav-header {
    border-color: whitesmoke;
    border-width: 1px;
    border-radius: 5px;
    background: #111111;
    margin-top: 5px;
}

.content {
    font-family: futura-pt,sans-serif;
}

.card-title {
    font-family: Krenfen,sans-serif;
}

.title {
    font-family: Krenfen,sans-serif;
    color: #ffffff;
}



.portada {
    width: 50%;
    border: darkred;
}
.bandlead {
    color: #eeeeee;
}
.bandlead strong {
    color: whitesmoke;
}

.lyric {
    font-size: small;
    color: #eeeeee;
}

.margin-right {
    margin-right: 15px;
}

.btn-primary, .btn-primary:visited, .btn-primary:active {
    background: darkred;
    border-color: firebrick;
    font-family: Krenfen,sans-serif;
}

.btn-spotify, .btn-spotify:visited, .btn-spotify:active {
    background: #1db954;
    border-color: #1db954;
    color: white;
    font-family: Lato,sans-serif;
}

.btn-itunes, .btn-itunes:visited, .btn-itunes:active {
    background: #0070c9;
    border-color: #07c;
    font-family: Montserrat,sans-serif;
}


.btn-primary:hover {
    background: grey;
    border-color: dimgray;
}

.transparent {
    background: transparent;
}

.center {
    text-align: center;
}

.card {
    margin-bottom: 10px;
}

.card-img-top-container {
    display: block;
    width: 100%;
    position: relative;
    height: 0;
    padding: 56.25% 0 0 0;
    overflow: hidden;
    background: black;
    min-height: 200px;
    border-radius: 5px 5px 0 0;
    box-shadow: 0px -4px 5px 9px rgba(0,0,0,0.5);
}

.card-img-top {
    position: absolute;
    display: block;
    max-width: 100%;
    max-height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.card-img-top-container-store {
    display: block;
    width: 100%;
    position: relative;
    height: 0;
    padding: 56.25% 0 0 0;
    overflow: hidden;
    background: darkgrey;
    min-height: 200px;
    border-radius: 5px 5px 0 0;
    box-shadow: 0px -4px 5px 9px rgba(0,0,0,0.5);
}

.card-img-top-store {
    position: absolute;
    display: block;
    max-width: 90%;
    max-height: 90%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.card-text {
    min-height: 30px;
}


.band-photo {
    background: url("../img/band.jpg") no-repeat top center;
    background-size: cover;
    box-shadow: inset 0px 0px 20px 20px rgba(0,0,0,1);
    min-height: 200px;
}

.section {
    background: url("../img/fire.svg") no-repeat top center #000000;
    background-size: contain;
}

.logo {
    font-size: 2.5em;
}

.screen {
    border-radius: 5px;
    padding-top: 100px;
    z-index: 1;

    min-height: 400px;

    margin: auto;

    transition: opacity .5s;
}

.footer {
    width: 100%;
    min-height: 100px;
}

.footer-link {
    color: rgba(255,255,255,.5);
}

.footer-link:hover {
    color: rgba(255,255,255,.75);
}

/* Header Parallax Element Style*/
.paral {
    background-attachment: fixed;
    min-height: 600px;
    background-size: cover;
    background-position: top center;
}



.paral p {
    font-size: 24px;
    color:#f5f5f5;
    text-align: center;
    line-height: 60px;
}

/* Heading for Parallax Section */
.paral h1 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 60px;
    text-align: center;
    padding-top: 60px;
    line-height: 100px;
}

.paralsec {
    background-image: url("/img/band2.jpg");
    box-shadow: inset 0px 0px 20px 20px rgba(0,0,0,1);
}

.paralcontact {
    background-image: url("/img/contact.png");
    box-shadow: inset 0px 0px 20px 20px rgba(0,0,0,1);
}



.nav-link-active {
    color: darkred !important;
    font-weight: bolder;
}

.dcsns-li {
    font-family: futura-pt,sans-serif !important;
}

.dcsns {
    background: transparent !important;
}

.section-intro {
    height: auto !important;
    font-family: 'Krenfen',sans-serif !important;
}

.section-title, .twitter-user {
    font-family: 'Krenfen',sans-serif !important;
}

@media (max-width: 576px) {
    .paral {
        min-height: 200px;
        background-size: cover;
        background-position: 50% 50%;
        background-attachment: unset;
    }
    .portada {
        width: 100%;
    }
    .dcsns-li {
        width: 100% !important;
    }

}

@media (min-width: 577px) and (max-width: 1000px) {
    /* Solo se aplicarán entre los tamaños indicados */
    .paral {
        min-height: 200px;
        background-size: contain;
    }
    .dcsns-li {
        width: 45% !important;
    }

}

@media (min-width: 1001px) {
    /* Solo se aplicarán entre los tamaños indicados */
    .paral {
        min-height: 600px;
        background-size: cover;
    }
    .dcsns-li {
        width: 20% !important;
    }
}

.kn-form label{
    color:white;
}

.credits {
    font-size: small;
    text-align: right;
    position: absolute;
    right: 8px;
    bottom: 2px;
}

.darkredlink, .darkredlink:visited, .darkredlink:active {
    color: darkred;
}

.announce_body {
    background: black;
}

/***********************************************************
GALLERY
 */

.gallery-photo {
    margin: 5px;
    max-width: 300px;
}

.flex-column {

}

.scale {
    transform: scaleY(1.05);
    padding-top: 5px;
}

/***********************************************************
STREAM
 */

.modern .stream li .section-text, .modern .stream li .section-user, .modern .stream li .section-title {
    padding: 0 10px !important;
    margin: 0 0 10px 0 !important;
    max-height: 300px;
}


/***********************************************************
TOUR
 */

.tourdate_header {
    min-height: 280px !important;
    max-height: 280px;
}

.tourdate_body {
    background: black;
    border: darkred 1px dotted;
    border-radius: 5px;
    padding: 10px !important;
    min-height: 300px !important;
    width: 100%;
}

.tourdate_body p {
    font-family: Krenfen,sans-serif;
    color: darkgrey;
}

.tourdate_title {
    font-family: Krenfen,sans-serif;
    color: whitesmoke;
}

.tourdate_date {
    font-family: Krenfen,sans-serif;
    color: darkred;
    font-weight: bold;
}

.tourdate_soldout {
    color: black !important;
    font-family: Impact !important;
    position: absolute;
    z-index: 100;
    font-size: 3em;
    transform: rotate(-45deg);
    background: darkred;
    padding: 5px;
    margin-left: 10px;
    bottom: 70px;

}

/****************************************************************
PURCHASES
 */

.purchase_container {
    color: white;
    border: darkred 1px dotted;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;

}

table.purchase {
    width: 100%;
}

.purchase th {
    color: white;
    padding: 5px;
    padding-left: 15px;
    text-align: right;
    vertical-align: top;
}

.purchase td {
    color: white;
    padding: 5px;
    padding-left: 15px;
    vertical-align: top;

}

.product_img_container {
    max-height: 100px;
    background: #2C2C2C;
    vertical-align: middle !important;
}

@media (max-width: 576px) {
    .product_img_container {
        display: none;
        visibility: hidden;
    }
}



