<hr>
<h2 class="title display-8">ícaro</h2>


<p class="lyric">Yo tuve un alto precio que pagar por querer ir un paso más allá y volar demasiado cerca del sol<br>
Si mis alas son de cera, y mi corazón es de piedra, dime cómo pude tener opción<br>
Tuve que buscar mi rumbo, tuve que prevalecer, tuve que aprender a odiarte y a caer de pie<br>
Un Dios yace moribundo, todo el mundo a sus pies, tuve que aprender a odiarte</p>

<p class="lyric">Pudo ser y no fue<br>
    Solo me queda olvidar cuanto vi<br>
Ya solo me queda intentar sobrevivir</p>

<p class="lyric">Pasa el tiempo y sigo sin saber lo que puede un día suceder si jamás encuentro la salvación<br>
El fracaso y la deshonra, perseguir mi propia sombra y acabar perdido en un callejón<br>
Tuve que buscar mi rumbo, tuve que prevalecer, tuve que aprender a odiarte  y a caer de pie<br>
Un Dios yace moribundo, todo el mundo a sus pies, tuve que aprender a odiarte</p>

<p class="lyric">Pudo ser y no fue<br>
Solo me queda olvidar lo que vi<br>
Ya solo me queda intentar apartar las</p>

<p class="lyric">Nubes negras sobre mí, ocultando el sol<br>
Muero desangrándome en la oscuridad que inunda mi interior</p>

<p class="lyric">Pudo ser y no fue<br>
Solo me queda olvidar cuanto vi<br>
Ya solo me queda intentar apartar las</p>

<p class="lyric">Nubes negras sobre mí, ocultando el sol<br>
Muero desangrándome en mi oscuro interior<br>
Negra tempestad, ocultando el sol<br>
Muero al despertar, en la oscuridad que inunda mi interior</p>