<hr>
<h2 class="title display-8">Tercer Acto</h2>
<p class="lyric">Loco</p>

<p class="lyric">Sueños ajados cubiertos de polvo y herrumbre<br>
    Abandonados en un rincón por la costumbre<br>
    Aplastado y reducido a escombros<br>
    De cargar el peso del mundo sobre mis hombros</p>

<p class="lyric">Pienso en tu aliento y me siento como quien vagó por el desierto<br>
    Desolado, polvoriento, sigo desorientado y sediento<br>
    Me atormento, me alimento de lo que me corroe por dentro<br>
    Mi destino es incierto, solo queda el azar</p>

<p class="lyric">Ven, marchate, quédate, déjame, háblame, ya nada queda que pueda decir<br>
    Dime al fin, cállate, qué he de hacer, déjame, si el tercer acto se olvida de mí</p>

<p class="lyric">Un telón bajado, una obra sin guión ni actores<br>
    en el Tercer Acto reinaba el caos sin más opciones<br>
    Confundido, hoy siento orgullo y asco<br>
    Caín mató a Abel por su propio fracaso</p>

<p class="lyric">Pienso en tu aliento y me siento como quien vagó por el desierto<br>
    Desolado, polvoriento, sigo desorientado y sediento<br>
    Me atormento, me alimento de lo que me corroe por dentro<br>
    Mi destino es incierto, solo queda el azar</p>

<p class="lyric">Ven, marchate, quédate, déjame, háblame, ya nada queda que pueda decir<br>
    Dime al fin, cállate, qué he de hacer, déjame, si el tercer acto se olvida de mí</p>

<p class="lyric">Se olvida de mí...</p>