<hr>
<h2 class="title display-8">Abismo</h2>


<p class="lyric">Pasé toda mi vida intentando no cruzar<br>
La delgada línea que separa el bien del mal<br>
Ahora todo encaja, todo va según el plan<br>
Todo se reduce a escuchar, ver y callar</p>

<p class="lyric">Si has venido a verme caer<br>
Tal vez te toque esperar</p>

<p class="lyric">Lucharé con uñas y dientes<br>
Mirando al frente, no echaré la vista atrás<br>
Tras de mí, todo aquello que forgé<br>
Se irá por siempre</p>

<p class="lyric">No temblará mi mano cuando tenga que empuñar<br>
La mortal espada que tu reino detruirá<br>
Cruzaré el abismo que construyeron los demás<br>
Intentando verme condenado a fracasar</p>

<p class="lyric">Si has venido a verme caer<br>
Tal vez te toque esperar</p>

<p class="lyric">Lucharé con uñas y dientes<br>
Mirando al frente, no echaré la vista atrás<br>
Tras de mí, todo aquello que forgé<br>
Se irá por siempre</p>

<p class="lyric">Si has venido a verme caer<br>
Tal vez te toque esperar</p>

<p class="lyric">Lucharé con uñas y dientes<br>
Mirando al frente, no echaré la vista atrás<br>
Tras de mí, todo aquello que forgé<br>
    Se irá por siempre</p>