<hr>
<h2 class="title display-8">En Mi Ausencia</h2>


<p class="lyric">Nunca soñé encontrar lo que faltaba en mi interior<br>
Nunca soñé llenar aquel vacío desolador</p>

<p class="lyric">Jamás llegué a pensar que lograría discernir<br>
Y ver que la solución a todo siempre estuvo ahí</p>

<p class="lyric">Cuando tengas que regresar seré un destello en la eternidad</p>

<p class="lyric">Quizás perviva el recuerdo en mí, no es fácil olvidar<br>
De lo que soy y fui, y no seré jamás<br>
Y aún me preguntaré en cada despertar<br>
Lo que será de ti en mi ausencia</p>

<p class="lyric">Y cada huella que ha dejado en mi alma el devenir<br>
Es la prueba de que es cierto todo aquello que viví<br>
Jamás borrar las huellas que dejé al caminar<br>
Hoy lograré que me teman los fantasmas de la soledad</p>

<p class="lyric">Cuando tengas que regresar seré un destello en la eternidad</p>

<p class="lyric">Quizás perviva el recuerdo en mí, no es fácil olvidar<br>
De lo que soy y fui, y no seré jamás<br>
Y aún me preguntaré en cada despertar<br>
    Lo que será de ti en mi ausencia</p>