<hr>
<h2 class="title display-8">Encadenado</h2>

<p class="lyric">¿Quién fue el culpable de tu miseria? ¿Quién causó tu dolor?<br>
¿Quién rompió el delicado equilibrio silenciando tu voz?</p>

<p class="lyric">Hoy habito tierras baldías y la noche parece más fría, rememorando lo que fui<br>
Hoy recuerdo con ironía cómo brillaba el sol aquel día, como burlándose de mí</p>

<p class="lyric">Mi juez y mi verdugo, tu vanidad<br>
No viste ni verás jamás tu propio mal<br>
Cargué mi cruz, mi yugo, tu falsedad<br>
Dejé pasar otro barco más</p>

<p class="lyric">¿Cuánto tiempo viviré aquí cautivo? ¿Quién me liberará?<br>
¿Cuánto más durará la tormenta que me impide avanzar?</p>

<p class="lyric">Hoy parece todo mentira, ¿De verdad viví yo aquella vida? Llego a dudar si estuve allí<br>
Sin querer se pasan los días pronunciando palabras vacías en otro bucle sin fin</p>

<p class="lyric">No te creas todo lo que dicen; es fácil moldear la verdad<br>
Si ves detrás del humo no hay nada más</p>

<p class="lyric">Mi juez y mi verdugo, tu vanidad<br>
No viste ni verás jamás tu propio mal<br>
Cargué mi cruz, mi yugo, tu falsedad<br>
Dejé pasar otro barco más</p>

<p class="lyric">Encadenado</p>