<hr>
<h2 class="title display-8">Espejo</h2>

<p class="lyric">Buscando un faro en la tormenta, decadencia<br>
Día tras día mis temores se alimentan</p>

<p class="lyric">El sol sale pero el aire pesa<br>
Estoy condenado a cazar como un ave de presa<br>
Pero la lluvia no cesa<br>
Puede que deba retornar</p>

<p class="lyric">Volver a ver mi destino<br>
Soñar que alguna vez todo esto al fin se acabará<br>
Que al fin veré el camino a seguir<br>
Que volveré a empezar</p>

<p class="lyric">Mira a hacia arriba y dime qué ves<br>
¿Crees que todo es como debe ser?<br>
Miro al espejo, hay alguien detrás<br>
Pero no es quien yo quisiera ver</p>

<p class="lyric">Mira hacia arriba y dime qué ves<br>
¿Crees que todo es como debe ser?<br>
Tiempo perdido, no hay vuelta atrás<br>
Puede que alguien me vuelva a ver</p>

<p class="lyric">Se ciernen sobre mí los cargos de conciencia<br>
Como se cernía el Kraken sobre Argos</p>

<p class="lyric">No se parece a lo que me contaron<br>
Ni a los paisajes que vi pintados<br>
Mentiste, el cielo no existe<br>
Puede que deba retornar</p>

<p class="lyric">Volver a ver mi destino<br>
Soñar que alguna vez todo esto al fin se acabará<br>
Que al fin veré el camino a seguir<br>
Que volveré a empezar</p>

<p class="lyric">Mira a hacia arriba y dime qué ves<br>
¿Crees que todo es como debe ser?<br>
Miro al espejo, hay alguien detrás<br>
Pero no es quien yo quisiera ver</p>

<p class="lyric">Mira hacia arriba y dime qué ves<br>
¿Crees que todo es como debe ser?<br>
Tiempo perdido, no hay vuelta atrás<br>
Puede que alguien me vuelva a ver</p>

<p class="lyric">Si existe alguien más demente que tú<br>
Soy yo</p>

<p class="lyric">Si existe alguien más demente que tú<br>
Si existe alguien más demente que tú<br>
Más herido que tú, más jodido que tú<br>
Soy yo</p>

<p class="lyric">Mira a hacia arriba y dime qué ves<br>
¿Crees que todo es como debe ser?<br>
Miro al espejo, hay alguien detrás<br>
Pero no es quien yo quisiera ver</p>

<p class="lyric">Mira hacia arriba y dime qué ves<br>
¿Crees que todo es como debe ser?<br>
Tiempo perdido, no hay vuelta atrás<br>
    Puede que alguien me vuelva a ver</p>