<hr>
<h2 class="title display-8">Ignis</h2>

<p class="lyric">Soy la voz de los que no pueden hablar<br>
De los que el mundo silenció<br>
Soy el Dios de los que nunca creerán<br>
Que un ser divino nos salvó</p>

<p class="lyric">La rabia fluye como lava de un volcán<br>
Es la marea que tus manos no pueden parar<br>
Lo que predicas solo es una ilusión<br>
Las voces de tu cabeza siempre te dieron la razón</p>

<p class="lyric">Calla<br>
Yo soy la sexta rebelión<br>
Calla<br>
¿No lo sabes? Mi nombre es Legión</p>

<p class="lyric">Nunca llegarás a presenciar lo que el hombre no logró alcanzar<br>
No hay nada que tú me puedas arrebatar<br>
Ni la muerte podrá silenciar la eterna voz que marcará el final<br>
Será la última vez; nunca más</p>

<p class="lyric">Lucharé por los que no pueden luchar<br>
Lejos se oye su clamor<br>
Soy el refugio de los que no pueden más<br>
Heridos de desolación</p>

<p class="lyric">Cuatro paredes donde cobijar<br>
El miedo y la ira que no dejan dormir<br>
Quiero mi alma en paz<br>
Metal fundido corre por mis venas sin dilación<br>
En una celda, en una oscura habitación</p>

<p class="lyric">Calla<br>
Yo soy la sexta rebelión<br>
Calla<br>
¿No lo sabes? Mi nombre es Legión</p>

<p class="lyric">Nunca llegarás a presenciar lo que el hombre no logró alcanzar<br>
No hay nada que tú me puedas arrebatar<br>
Ni la muerte podrá silenciar la eterna voz que marcará el final<br>
Será la última vez; nunca más</p>

<p class="lyric">No digas que no te lo advertí</p>

<p class="lyric">Calla<br>
Yo soy la sexta rebelión<br>
Calla<br>
¿No lo sabes? Mi nombre es Legión</p>

<p class="lyric">Nunca llegarás a presenciar lo que el hombre no logró alcanzar<br>
No hay nada que tú me puedas arrebatar<br>
Ni la muerte podrá silenciar la eterna voz que marcará el final<br>
    Será la última vez; nunca más</p>