<hr>
<h2 class="title display-8">Sangre</h2>

<p class="lyric">Ayer soñe contigo y desperté, maldiciendo al mundo y a mí mismo por nacer<br>
Sé que soy yo el mismo perdedor que declaró la guerra a cuando halló a su alrededor</p>

<p class="lyric">No es más que otra batalla trivial<br>
Es tan privitivo y vulgar<br>
Hoy sé que he de morir o matar<br>
Hoy siento que quiero ver sangre</p>

<p class="lyric">Corriendo por mis venas<br>
Sangre<br>
Sudor y lágrimas que derramé<br>
Sangre<br>
Quiero ver sangre</p>

<p class="lyric">Vuelvo a caer dentro de la espiral que me llevó al infierno y no me deja regresar<br>
Pobre mortal que no logró vencer en la eterna y vana lucha sin desfallecer</p>

<p class="lyric">No es más que otra batalla trivial<br>
Es tan privitivo y vulgar<br>
Hoy sé que he de morir o matar<br>
Hoy siento que quiero ver sangre</p>

<p class="lyric">Corriendo por mis venas<br>
Sangre<br>
Sudor y lágrimas que derramé<br>
Sangre<br>
Quiero ver sangre</p>

<p class="lyric">Hoy vuelvo a despertar y siento la presión de la vulgaridad<br>
Hoy vuelvo a despertar y siento la presión de la vulgaridad</p>

<p class="lyric">Y siento que quiero ver sangre</p>

<p class="lyric">Corriendo por mis venas<br>
Sangre<br>
Sudor y lágrimas que derramé<br>
Sangre<br>
    Quiero ver sangre</p>